{% extends 'website/base.html' %}

{% block content %}
<!--Carousel block-->
<div class="container">
  <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="false">
    <div class="carousel-indicators">
      {% for photo in board_photos %}
      {% if forloop.counter0 == 0 %}
      <button type="button" data-bs-target="#carouselExampleCaptions"
              data-bs-slide-to="{{ forloop.counter0 }}" class="active"
              aria-current="true" aria-label="Slide {{ forloop.counter }}"></button>
      {% else %}
      <button type="button" data-bs-target="#carouselExampleCaptions"
              data-bs-slide-to="{{ forloop.counter0 }}"
              aria-label="Slide {{ forloop.counter }}"></button>
      {% endif %}
      {% endfor %}
    </div>
    <div class="carousel-inner">
      {% for photo in board_photos %}
      {% if forloop.counter0 == 0%}
      <div class="carousel-item active">
        <a href="{{ photo.board.get_absolute_url }}"><img src="{{ photo.photo_url }}"
                                                          class="d-block w-100"
                                                          alt="..."></a>
        <div class="carousel-caption d-none d-md-block">
          <h1>{{ photo.board.name }}</h1>
          <p>{{ photo.board.description }}</p>
        </div>
      </div>
      {% else %}
      <div class="carousel-item">
        <a href="{{ photo.board.get_absolute_url }}"><img src="{{ photo.photo_url }}"
                                                          class="d-block w-100"
                                                          alt="..."></a>
        <div class="carousel-caption d-none d-md-block">
          <h1>{{ photo.board.name }}</h1>
          <p>{{ photo.board.description }}</p>
        </div>
      </div>
      {% endif %}
      {% endfor %}
    </div>
    <button class="carousel-control-prev" type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button"
            data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<!--Message form-->
<div class="container h-100">
  <div class="row d-flex justify-content-center align-items-center h-100">
    <div class="col-lg-12 col-xl-11">
      <div class="card border-0">
        <div class="card-body">
          <div class="row justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-10 order-2 order-lg-1">
              <p class="text-center h3 my-3">Contact Us</p>
              <form class="mx-1 mx-md-4" method="post" id="contactForm">
                {% csrf_token %}
                <div class="d-flex flex-row align-items-center mb-4">
                  <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                  <div class="form-outline flex-fill mb-0">
                    {{ message_form.name.label }}
                    {{ message_form.name }}
                  </div>
                  <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                  <div class="form-outline flex-fill mb-0">
                    {{ message_form.email.label }}
                    {{ message_form.email }}
                  </div>
                </div>
                <div class="d-flex flex-row align-items-center mb-4">
                  <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                  <div class="form-outline flex-fill mb-0">
                    {{ message_form.message.label }}
                    {{ message_form.message }}
                  </div>
                </div>
                {{ form.errors }}
                <div class="d-flex justify-content-center mb-3 mb-lg-4 ms-3">
                  <button type="submit" class="btn btn-dark btn-lg w-100">Send</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}